/* TODO Add site wide styles */
* {
    font-family: 'Montserrat', sans-serif;
}

.nl {
  list-style-type: none;
}

body {
  margin: 0;
}

.errorpageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorpageDiv a {
  text-decoration: none;
  color: #e33d26;
}

.errorpageDiv a:hover {
  text-decoration: underline;
}
