.businessHomePageBox {
    padding: 45px 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
}

.aboutUsBox{
    padding: 10px 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;

}

.developerInfo h3 {
    color: #d32383;
    /* border-bottom: 1px solid grey; */
}

.indivDeveloperInfo div{
    padding: 5px;
}
.developerInfo a{
    text-decoration: none;
    font-weight: bold;
}

.developerInfo a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.RepoLink {
    padding: 10px;
}

.developerInfo {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5%;
    padding: 20px;
    max-width: 60vh;
}
