.businessCard-main-div {
  width: 300px;
  height: 360px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 3%;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border-radius: 10px;
}

.image-div {
  height: 80%;
  width: 100%;
}
.business-preview-image {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 0 0 2px grey;
}

.businessInfoDiv {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.businessCard-main-div a{
  text-decoration-line: none;
}

.businessCard-main-div:hover{
  box-shadow: 1px 1px 4px 2px gray;
}
