.detail-business-div {
  padding-left: 15vw;
  padding-right: 15vw;
}

.title-description-maindiv {
  display: flex;
  flex-direction: column;
  padding-top: 240px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.4em;
  row-gap: 5px;
}

.title-store-name {
  margin: 0;
}

.main-div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.business-image-div {
  display: flex;
  height: 400px;
  z-index: -1;
  position: absolute;
}

.business-image {
  height: 400px;
}

.business-div {
  width: 100%;
}

.review-button-div {
  display: flex;
  padding-top: 2%;
  padding-bottom: 3%;
}
.location-hour-main-div {
  display: flex;
}
.open-close {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-weight: 500;
}

.side-info-div {
  width: 500px;
}
.side-info-top-div {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  row-gap: 10px;
}

.suggest-business-main-div {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.suggest-business-div {
  width: 100%;
  display: flex;
  column-gap: 20px;
}
.suggest-business-image {
  width: 30%;
  object-fit: cover;
  border-radius: 10px;
}

.red {
  color: red ;
}
.gray {
  color: gray;
}
