.main-div {
  padding-left: 15vw;
  padding-right: 15vw;
}

.title-description-maindiv {
  display: flex;
  flex-direction: column;
  padding-top: 240px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.4em;
  row-gap: 5px;
}

.title-store-name {
  margin: 0;
}

.detail-business-div {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  column-gap: 20px;
}

.business-image-div {
  display: flex;
  height: 400px;
  z-index: -1;
  position: absolute;
}

.business-image {
  height: 400px;
}

.business-div {
  width: 100%;
}

.review-button-div {
  display: flex;
  padding-top: 2%;
  padding-bottom: 3%;
}
.write-review-button {
  color: white;
  background-color: rgb(238, 0, 0);
  border: 0;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
}

/* Location and hours div */
.location-hour-main-div {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px gray solid;
  border-top: 1px gray solid;
}


.side-info-div {
  width: 500px;
}
.side-info-top-div {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  row-gap: 10px;
  border-radius: 5px;
}

/* Suggest business under You might consider */
.suggest-business-main-div {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.suggest-business-single-div {
  display: flex;
  column-gap: 10px;
}
.suggest-business-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  column-gap: 20px;
}
.suggest-business-image {
  width: 30%;
  object-fit: cover;
  border-radius: 5px;
}

/* Stars color */
.red {
  color: red ;
}
.gray {
  color: gray;
}

/* Recommended Reviews Div */
.review-main-div {
  display: flex;
  flex-direction: column;
}
.review-user-info-div {
  border: 1px red solid;
}
.review-overall-rating-div {
  border: 1px blue solid;
}
.all-review-div {
  border: 1px yellow solid;
}
