.reviewText {
    resize: none;

}


.reviewCreateContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em 0.5em 1em 0.5em;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 1px 1px 5px gray;
    width: 26em;
}

/* .reviewFormHeader {
    margin-bottom: 1em;
}

.formChildren {
    width: 30em;
    height: 2em;
}

.reviewText {
    width: 30em;
    height: 5em;
} */

.reviewSubmit {
    font-weight: bold;
    font-size: 16px;
    margin-top: 1em;
    border-radius: 7px;
    height: 2.5em;
    width: 8em;
    background-color: rgba(224,7,7,1);
    color: white;
    border: none;
    box-shadow: 0px .5px 1px rgba(114, 113, 113, 0.2);
    transition: background-color 1s;
}
